[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
selenium = "*"
google = "*"
nltk = "*"
sklearn = "*"
scipy = "*"
numpy = "*"

[requires]
python_version = "2.7"
